{{!--
<footer class="footer">
  <div class="footer-inner">
    {{#link 'help_center'}}{{help_center.name}}{{/link}}

    <div class="footer-language-selector">
      {{#if alternative_locales}}
        <div class="dropdown language-selector">
          <button class="dropdown-toggle" aria-haspopup="true">
            {{current_locale.name}}
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="dropdown-chevron-icon">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
            </svg>
          </button>
          <span class="dropdown-menu dropdown-menu-end" role="menu">
            {{#each alternative_locales}}
              <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
                {{name}}
              </a>
            {{/each}}
          </span>
        </div>
      {{/if}}
    </div>
  </div>
</footer>


<div class="section user-navigation">
    <div class="section-wrapper">
        <div class="row">
            <nav class="user-nav">
                {{link 'community'}}
                {{link 'new_request' class='submit-a-request'}}
            </nav>

        </div>
    </div>
</div>
--}}

<div class="tentacle-footer">
    <div class="section-wrapper">
        <div class="row">
            <div class="half">
                <a href="https://tentaclesync.com/" title="Home" rel="home">
                    <div class="logo-column">
                        <div class="logo"></div>
                    </div>
                </a>

                <ul class="menu">
                    <li class="menu__item is-leaf first last leaf"><a href="//tentaclesync.com/imprint"
                                                                      class="menu__link">Imprint</a></li>
                    <li class="menu__item is-leaf first last leaf"><a href="//tentaclesync.com/privacy-policy"
                                                                      class="menu__link">Privacy</a></li>
                    <li class="menu__item is-leaf last leaf"><a href="//tentaclesync.com/#" id="newsletter"
                                                                class="menu__link">Newsletter</a></li>
                </ul>

            </div>
            <div class="half">

                <div class="find-us menu-link">
                    <span class="find-us-text">Find us on </span>

                    <a class="social-link  instagram-link " href="https://www.instagram.com/tentacle_sync/"
                       title="Find us on Instagram">Find us on Instagram</a>

                    <a class="social-link  facebook-link " href="https://www.facebook.com/tentaclesync"
                       title="Find us on Facebook">Find us on Facebook</a>

                    <a class="social-link  twitter-link " href="https://twitter.com/TentacleSync"
                       title="Find us on Twitter">Find us on Twitter</a>

                    <a class="social-link  youtube-link " href="https://www.youtube.com/watch?v=G2WPw8J6Nrg"
                       title="Find us on Youtube">Find us on Youtube</a>

                    <a class="social-link  vimeo-link " href="http://vimeo.com/tentaclesync" title="Find us on Vimeo">Find
                        us on Vimeo</a>

                </div>
            </div>
        </div>
    </div>
</div>


<div id="newsletterModal" class="modal">
    <div id="newsletterModalContent" class="modal-content">
        <span class="close">&times;</span>
    </div>
</div>
